{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="shopping-cart">
    <a  class="button outline-dark" href="{% url 'store' %}">← Continue Shopping</a>
    <!-- Para este punto ahora se debe agregar a la base de datos un customer
    luego una orden y por ultimo unos items a la orden esto lo hacemos como ejemplo para que 
    podamos visualizar la info -->
    <div class="cart-summary">
        <table>
            <tr>
                <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                <th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                <th>
                    <a  class="button success" href="{% url 'checkout' %}">Checkout</a>
                </th>
            </tr>
        </table>
    </div>

    <div class="cart-items" id="cart-items">
        <div class="cart-row">
            <div class="item-image"></div>
            <div class="item-description"><strong>Item</strong></div>
            <div class="item-price"><strong>Price</strong></div>
            <div class="item-quantity"><strong>Quantity</strong></div>
            <div class="item-total"><strong>Total</strong></div>
        </div>
        
        {% for item in items %}
            <div class="cart-row">
                <div class="item-image"><img src="{{item.product.imageURL}}" alt="{{item.product.name}}"></div>
                <div class="item-description"><p>{{item.product.name}}</p></div>
                <div class="item-price"><p>${{item.product.price|floatformat:2}}</p></div>
                <div class="item-quantity">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity-controls">
                        <!-- Ya se hizo la logica para estos botones solo anadimos data-product
                            data-action y la clase update-cart -->
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}" alt="Increase quantity">
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}" alt="Decrease quantity">
                    </div>
                </div>
                <div class="item-total"><p>${{item.get_total|floatformat:2}}</p></div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}
