{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="grid-container">
    <div class="box-element product">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product">
        <h6 class="product-name"><strong>Producto 1</strong></h6>
        <hr>
        <button class="button-add">Add to Cart</button>
    </div>
    <div class="box-element product">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product">
        <h6 class="product-name"><strong>Producto 2</strong></h6>
        <hr>
        <button class="button-add">Add to Cart</button>
    </div>
    <div class="box-element product">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="product">
        <h6 class="product-name"><strong>Producto 3</strong></h6>
        <hr>
        <button class="button-add">Add to Cart</button>
    </div>
</div>

{% endblock content %}