{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="grid-container">
    <!--
        Vamos a crear un loop para llamar a todos los productos recuerda usar
        python manage.py createsuperuser para crear un usuario administrador
        y poder ingresar al admin de django. Para agregar los productos.
    -->
    {% for product in products %}
    <div class="box-element product">
        <img class="thumbnail" src="{{product.image.url}}" alt="product">
        <h6 class="product-name"><strong>{{product.name}}</strong></h6>
        <hr>
        <div class="product-footer">
            <div class="button-group">
                <!-- Vamos a crear atributos custom para nuestro elemento uno que tendga el nombre del producto
                y luego otro con la accion que vamos a realizar. Ademas vamos anadir una clase como "update-cart"
                para anadir un event handler -->
                <button data-product="{{product.id}}" data-action="add" class="button-add update-cart">Add to Cart</button>
                <a class="button button-view" href="#">View</a>
            </div>
            <h4 class="price">${{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}